.cool-link {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
}
.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--grey);
    opacity:90%;
    transition: width .3s;
}
.cool-link:hover{
    color: var(--grey);
    cursor: pointer;
}
.cool-link:hover::after {
    width: 100%;
    /* transition: width .3s; */
}
.cool-link img{
    width: 15px;
    margin:0 0 0 15px;
}