.light-theme {
  --white: #ffffff;
  --black: #273239;
  --grey: #989898;
}
.dark-theme {
  --white: #17181a;
  --black: #ffffff;
  --grey: #989898;
}
/* .light-theme {
  --white: #fafafa;
  --black: #222;
  --grey: #555;
}
.dark-theme {
  --white: #222;
  --black: #eee;
  --grey: #bbb;
} */
body {
  background: var(--white);
}
.App {
  width: 90vw;
  max-width: 1200px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.ToggleButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}
.ToggleButton img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media screen and (max-width: 500px) {
  .ToggleButton {
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
  }
  .ToggleButton img {
    width: 20px;
    height: 20px;
  }
}
